.client-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;

}

.client-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.705));
    position: fixed;
    z-index: 100;
}

.client-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.client-nav svg {
    width: 25px;
}

.client-title {
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
    padding: 10px;
}

.client-title h1 {
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
    font-size: 30px;
    margin-left: 10px;
}

.client-screen {
    height: 100%;
    overflow-y: scroll;
    padding-top: 60px;
}

.client-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    filter: drop-shadow(0px -1px 5px rgba(0, 0, 0, 0.212));
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.client-show-price {
    font-size: 20px;
    font-weight: bold;
}

.client-order {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.client-order:active {
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
    transform: translateY(1px);
}

.client-order svg {
    width: 25px;
}

.client-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .client-categories {
        grid-template-columns: repeat(5, 1fr);
    }
}

.client-category-prop {
    /* width: 130px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.category-prop-img {
    /* width: 130px;
    height: 130px; */
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.category-prop-name {
    width: 100px;
    overflow-x: scroll;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
}

.client-products-screen {
    position: absolute;
    top: 210px;
    transition: transform 0.4s ease;
    padding-bottom: 80px;
}

.client-products-categories {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    padding: 10px;
    text-decoration: none;
    width: 100%;
    /* height: 150px; */
    overflow-x: scroll;
    transition: all 0.7s ease, opacity 0.1s ease, height 0.4s ease;
    z-index: 10;
}

.client-products-category-prop {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    aspect-ratio: 1/1;
}

.category-products-prop-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.category-products-prop-name {
    width: 100%;
    overflow-x: scroll;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
}

.client-products-category-name {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary-font);
    padding: 10px;
    text-align: center;
}

.client-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    overflow-y: scroll;
}

.client-full-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    text-decoration: none;

}

.client-full-product-image {
    width: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.client-full-product-name {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.client-full-product-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.client-full-product-quantity-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
}

.client-full-product-add-to-cart-input {
    width: 80px;
    height: 40px;
    overflow-x: scroll;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.client-full-product-add-to-cart-input:focus {
    outline: none;
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
}

.client-full-product-add-to-cart-less {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.1s ease;
}

.client-full-product-add-to-cart-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.1s ease;
}

.client-full-product-add-to-cart-plus:active,
.client-full-product-add-to-cart-less:active {
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
    transform: translateY(1px);
}
