.client-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;

}

.client-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.705));
    z-index: 100;
}

.client-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.client-nav svg {
    width: 25px;
}

.client-title {
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
    padding: 10px;
}

.client-title h1 {
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
    font-size: 30px;
    margin-left: 10px;
}

.client-screen {
    height: 100%;
    overflow-y: scroll;
}

.client-hr {
    width: 80%;
    height: 1px;
    border: 0;
    border-radius: 10px;
}

.client-display-menu {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    z-index: 20;
    transition: all 0.4s ease;
}

.client-nav-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: scroll;
    text-decoration: none;
}

.client-category-display-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.212);
    padding: 10px 20px;
}

.client-category-display-menu img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.client-category-display-menu h3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-wrap: nowrap;
    font-family: var(--secondary-font);
}

.client-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    filter: drop-shadow(0px -1px 5px rgba(0, 0, 0, 0.212));
    z-index: 100;
}

.client-show-price {
    font-size: 20px;
    font-weight: bold;
}

.client-order {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 110px;
}

.client-order:active {
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
    transform: translateY(1px);
}

.client-order svg {
    width: 25px;
}

.client-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .client-categories {
        grid-template-columns: repeat(5, 1fr);
    }
}

.client-category-prop {
    /* width: 130px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.category-prop-img {
    /* width: 130px;
    height: 130px; */
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.category-prop-name {
    width: 100px;
    overflow-x: scroll;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
}

.client-products-categories {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    height: 150px;
    overflow-x: scroll;
    transition: all 0.7s ease;
    z-index: 10;
}

.client-products-category-prop {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    aspect-ratio: 1/1;
}

.category-products-prop-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.category-products-prop-name {
    width: 100%;
    overflow-x: scroll;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
}

.client-products-category-name {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary-font);
    padding: 10px;
    text-align: center;
}

.client-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    overflow-y: scroll;
}

.client-full-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    text-decoration: none;

}

.client-full-product-image {
    width: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.client-full-product-name {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.client-full-product-price {
    font-size: 22px;
    font-weight: 400;
}

.client-full-product-description {
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.client-full-product-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 80px;
}

.client-full-product-quantity-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
}

.client-full-product-add-to-cart-input {
    width: 80px;
    height: 40px;
    overflow-x: scroll;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.client-full-product-add-to-cart-input:focus {
    outline: none;
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
}

.client-full-product-add-to-cart-less {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.1s ease;
}

.client-full-product-add-to-cart-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 0px 10px 10px 0px;
    transition: all 0.1s ease;
}

.client-full-product-add-to-cart-plus:active,
.client-full-product-add-to-cart-less:active {
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
    transform: translateY(1px);
}

.client-full-product-total-price-text {
    font-size: 18px;
    font-weight: 400;
}

.client-full-product-total-price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.client-full-product-add-to-cart-button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.client-full-product-add-to-cart-button svg {
    width: 32px;
}

.client-full-product-begin-steps-button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.client-full-product-begin-steps-button svg {
    width: 24px;
}

.client-full-product-add-to-cart-button:active {
    box-shadow: inset 0 2px 5px rgb(14, 14, 14);
    transform: translateY(1px);
}

.client-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.client-cart h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary-font);
    text-align: center;
}

.client-cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.client-cart-total p {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.client-product-in-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    height: 100px;
    width: 100%;
}

.client-product-in-order img {
    height: 100%;
    width: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.client-product-in-order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.client-product-in-order-info h3 {
    width: 60%;
    overflow-x: scroll;
    text-wrap: nowrap;
    font-size: 18px;
    text-align: center;
}

.client-step-handler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    flex-direction: column;
}

.client-step-progress-bar {
    width: 90%;
    height: 40px;
    background-color: var(--forth-color);
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

.client-step-progress-bar-inner {
    transition: all 0.5s ease;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}

.step-button {
    position: fixed;
    bottom: 70px;
    display: flex;
    gap: 10px;
    height: 50px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.212);
    z-index: 101;
    transition: all 0.2s ease;
    font-size: 22px;
    font-weight: bold;
}

.step-button:active {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.212);
    transform: translateY(1px);
}

.step-back-button {
    left: 0;
}

.step-back-button svg {
    width: 40px;
}

.step-next-button {
    right: 0;
}

.step-next-button svg {
    width: 40px;
}

/* STEPS */

.client-step {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 15px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.step-option {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.step-option p {
    width: 80%;
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    overflow-x: scroll;
    opacity: 0.6;
}

.step-option img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 4px solid transparent;
}

.step-option.option-selected img {
    border: 4px solid #88FF80;
}

.client-payment {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.client-payment-name-input {
    width: 80%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.client-payment-methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
}

.client-payment-method button svg {
    width: 50px;
}