.header-landing {
    display: flex;
    background: linear-gradient(0deg, rgba(241, 241, 241, 0.959) 0%, #ffffff 100%);
}

.side-landing {
    position: fixed;
    width: 15%;
    height: 100vh;
    overflow: hidden;
}

.side-landing:hover .scroll-landing {
    animation-play-state: paused;
}

.scroll-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.left-side-landing {
    align-items: start;
}

.right-side-landing {
    margin-left: 85%;
    align-items: end;
}

.left-side-landing .scroll-landing {
    animation: slide-up 20s linear infinite;
}

.right-side-landing .scroll-landing {
    animation: slide-down 20s linear infinite;
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.box-landing {
    width: 90%;
    aspect-ratio: 1/1;
    background-color: #D9D9D9;
    border-radius: 5%;
    overflow: hidden;
}

.box-landing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-landing-four {
    width: 90%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    overflow: hidden;
}


.box-landing-cube {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 5%;
    overflow: hidden;
}

.box-landing-cube img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-landing {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes gradient-move {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title-landing {
    font-size: 10rem;
    font-weight: bold;
    background: linear-gradient(90deg, #5665c7, #E280FF, #5665c7);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 7s infinite linear;
    font-family: var(--primary-font);
    padding: 80px 0px;
}



.title-landing::selection {
    background: none;
}

.subtitle-landing {
    text-align: center;
    font-size: 3rem;
    color: #D2D2D2;
    font-weight: 900;
    font-family: var(--primary-font);
    margin-bottom: 80px;
}

.get-started-landing {
    padding: 15px 25px;
    background: linear-gradient(90deg, #5665c7 0%, #E280FF 100%);
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    text-wrap: nowrap;
    font-weight: bold;
    color: #fff;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.get-started-landing svg {
    transform: rotate(180deg) translateX(0);
    filter: invert(1);
    width: 50px;
    transition: all 0.3s;
}

.login-message-landing {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 70px;
    margin-bottom: 90px;
    position: relative;
    display: inline-block;
}

.login-message-landing::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.5s ease;
}

.login-message-landing:hover::after {
    width: 100%;
}

.arrow-landing {
    position: absolute;
    transform: translate(10px, 15px);
    height: 120px;
}

.get-started-landing:hover {
    background-color: var(--secondary-color);
}

.get-started-landing:hover svg {
    transform: rotate(180deg) translateX(-10px);
}

.get-started-landing:active {
    transform: translateY(1px);
}

.log-in-landing {
    padding: 10px 60px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.log-in-landing:hover {
    transform: scale(1.1);
    background-color: #45e07b;
}

.message-landing {
    text-align: center;
    margin: 90px;
    font-size: 4rem;
    color: #e6e6e6;
    font-weight: 900;
    font-family: var(--primary-font);
}

.advise-landing {
    position: relative;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 45%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.advise-landing iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.actions-landing {
    margin: 200px;
}

.action-landing {
    font-size: 6rem;
    /* font-size: 3rem; */
    font-family: var(--primary-font);
    font-weight: 900;
}

.action-landing::selection {
    background: none;
}

.action1-landing {
    background: linear-gradient(90deg, #5665c7 0%, #E280FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translatex(-40%);
}

.action2-landing {
    background: linear-gradient(90deg, #3459D6 0%, #9ECBEF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translatex(-15%);
}

.action3-landing {
    background: linear-gradient(90deg, #5665c7 0%, #E280FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translatex(15%);
}

.action4-landing {
    background: linear-gradient(90deg, #3459D6 0%, #9ECBEF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translatex(80%);
}

.features-landing {
    width: 100vw;
    min-height: 50vh;
    padding: 50px;
    padding-bottom: 150px;
    background-color: white;
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-landing-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 100%;
}

.features-landing h2 {
    font-size: 6rem;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.feature-landing {
    display: contents;
}

.feature-landing img {
    grid-column: span 1;
    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
}

.feature-landing p {
    grid-column: span 3;
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--primary-font);
    color: #3C3C3C;
    margin-left: 20px;
    align-self: center;
    justify-self: start;
}
