.business-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    /* background-color: var(--primary-color); */
    background: linear-gradient(90deg, #5665c7 0%, #E280FF 100%);
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px 20px 0px 0px; */
    z-index: 100;
}

.business-nav ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.business-nav ul li {
    list-style: none;
    transition: all 0.3s ease;
}

.business-nav ul li a svg {
    fill: #fff;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    scale: 2;
    transform: translateY(0);
}

/* .business-nav ul li:not(.selected) a svg path {
    filter: url(#inset-shadow);
} */

.selected {
    /* transform: translateY(-10px); */
    scale: 1.2;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
    .business-nav {
        height: 80px;
    }

    .business-nav ul {
        gap: 40px;
    }

    .business-nav ul li a svg {
        scale: 1;
    }

    .selected {
        transform: translateY(-5px);
        scale: 1.3;
    }

}