.order-titles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
    color: #000;
    /* border-bottom: 1px solid #000; */
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

.order-titles p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-refresh {
    width: 250px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    font-family: var(--secondary-font);
    transition: all 0.2s linear;
}

.order-refresh svg {
    width: 40px;
    height: 40px;
    transition: all 1 ease;
}

.refreshing {
    animation: spin 1s ease infinite;
}

.stopping {
    animation-play-state: paused;
    transform: rotate(360deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.order-table {
    padding-bottom: 90px;
}

.order-prop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* height: 100px */
    transition: all 0.2s linear;
    padding: 5px;
}

.order-prop-details {
    transition: all 0.2s linear;
    overflow: hidden;
}

.order-prop-details-item {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid #000;
    transition: all 0.2s linear;
    overflow: hidden;
}

.order-prop-details-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-prop-details-item-image img {
    width: auto;
    height: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.order-prop-details-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    gap: 20px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 200;
    grid-column: span 2;
}

.order-prop-details-item-info p {
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.order-prop-details-item-specials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    gap: 20px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 200;
    grid-column: span 3;
}

.order-prop-details-item-specials-options {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.order-prop-details-item-specials-deletables {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.order-prop-details-item-specials-extras {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.order-prop-details-item-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 200;
    grid-column: span 2;
}

.order-prop-details-item-prices-math {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 100;

}

.order-prop-details-item-prices-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 3rem;
    font-weight: 500;

}

.order-prop p {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    font-family: var(--secondary-font);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-prop button {
    text-transform: capitalize;
}

.order-prop-status-button {
    padding: 10px 30px;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.order-prop-status-button svg {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    right: 30px;
    top: 16px;
    transition: all 0.2s linear;
    transform: translateX(0);
    opacity: 0;
}

@media (min-width: 1930px) {
    .order-prop-status-button svg g path {
        stroke: white;
    }

    .order-prop-status-button:hover svg {
        transform: translateX(20px);
        opacity: 1;
    }
}

.order-prop-open-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.order-prop-open-button svg {
    width: 100px;
    transition: all 0.2s linear;
}

.order-colors {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    place-content: center;
    align-items: center;
}

.order-status-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.order-status-color {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.order-colors svg {
    width: 30px;
    height: 30px;
}

.order-status-ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.pending-color {
    background: linear-gradient(260deg, #fff 10%, #aaaaaa 100%);
}

.payed-color {
    background: linear-gradient(260deg, #fff 10%, #9AD7F1 100%);
}

.ready-color {
    background: linear-gradient(260deg, #fff 10%, #fdff6d 100%);
}

.delivered-color {
    background: linear-gradient(260deg, #fff 10%, #9aeb8d 100%);
}

.canceled-color {
    background: linear-gradient(260deg, #fff 10%, #FD7373 100%);
}

.order-status-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
    font-family: var(--secondary-font);
}

@media (max-width: 768px) {
    .order-table {
        height: fit-content;
    }

    .order-titles {
        display: none;
    }

    .order-refresh {
        width: 100%;
        padding: 5px;
        font-size: 1rem;
    }

    .order-refresh svg {
        width: 30px;
        height: 30px;
    }

    .order-prop {
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .order-prop-details-item {
        grid-template-columns: 1fr;
        height: auto;
        padding: 5px;
    }

    .order-prop-details-item-image img {
        width: 100%;
        height: auto;
    }

    .order-prop-details-item-info,
    .order-prop-details-item-specials,
    .order-prop-details-item-prices {
        grid-column: span 1;
        font-size: 1.2rem;
        height: auto;
        padding: 5px;
    }

    .order-prop-details-item-info p,
    .order-prop-details-item-specials-options,
    .order-prop-details-item-specials-deletables,
    .order-prop-details-item-specials-extras {
        overflow-x: auto;
    }

    .order-prop-details-item-prices-math,
    .order-prop-details-item-prices-total {
        font-size: 1rem;
    }

    .order-prop-status-button {
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .order-prop-status-button svg {
        width: 30px;
        height: 30px;
        right: 20px;
        top: 10px;
    }

    .order-prop-open-button svg {
        width: 50px;
    }

    .order-colors {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .order-colors svg {
        display: none;
    }

    .order-status-title {
        font-size: 1rem;
    }
}