.register-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--tertiary-background-color);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    width: 80%;
    max-width: 500px;
    min-height: 400px;
    transition: all 0.6s;
    padding: 20px;
    overflow: hidden;
}

.register-form h2 {
    font-size: 2.4rem;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    text-align: center;
}

.register-title {
    font-size: 2.4rem;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    text-align: center;
}

.register-input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    filter: drop-shadow(7px 7px 3.9px rgba(0, 0, 0, 0.25));
    border: 1px transparent;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--secondary-font);
    transition: all 0.3s;
}

.register-input:focus {
    outline: none;
}

.register-tag-text {
    font-size: 1rem;
    color: #868686;
    font-family: var(--secondary-font);
    margin: 10px 0;
}

.available {
    color: #56da7c;
}

.not-available {
    color: #fc3636;
}

.register-button {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: #ff9900;
    color: var(--white);
    font-family: var(--secondary-font);
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.register-button:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color);
}

.register-button:active {
    transform: translateY(0);
}

.register-back {
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--secondary-color);
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.3s;
    align-self: start;
    margin: 10px 0px;
}

.register-back:hover {
    opacity: 1;
}

.register-login-link {
    margin-top: 15px;
}

.register-login-link a {
    transition: color 0.3s;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: underline;
    font-family: var(--secondary-font);
    margin: 0 10px;
    cursor: pointer;
}

.register-login-link a:hover {
    color: var(--secondary-color);
}

.password-feedback {
    position: absolute;
    transform: translate(190px, 24px);
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 578px) {
    .password-feedback {
        position: absolute;
        transform: translate(120px, 24px);
    }
}

.wrong {
    border: 1px solid #ff2d2dd0;
    animation: wrongField 0.5s;
}

@keyframes wrongField {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(5px);
    }
}

/* .full {
    height: fit-content;
}

.zero {
    height: 0;
    padding: 0 !important;
} */