.body-templates {
    width: 100%;
    height: 60vh;
    display: flex;
}

.left-templates {
    width: 70%;
    height: 100%;
}

.left-templates-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.right-templates {
    width: 30%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 868px) {
    .body-templates {
        margin-bottom: 120px;
        flex-direction: column;
    }

    .left-templates {
        width: 100%;
    }

    .right-templates {
        width: 100%;
    }

}

/* Properties */

.properties {
    background-color: var(--forth-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 15px;
}

.properties h2 {
    color: var(--secondary-color);
    margin: 10px 0px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.properties-container {
    width: 90%;
    height: 70%;
    overflow-y: scroll;
}

.propierties-flex {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.property {
    width: 40px;
    height: 40px;
    position: relative;
}

.property-add-collection {
    width: 100%;
    height: 80px;
    cursor: pointer;
}

.property-add-collection button {
    width: 100%;
    height: 100%;
    background-color: #D1D1D1;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.property-add-collection button:hover {
    background-color: var(--tertiary-color);
    transform: translateY(-1px);
}

.property-add-collection button p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--secondary-color);
    cursor: pointer;
}

.property img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.delete-property {
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: -5px;
    right: -5px;
}

.delete-property:hover {
    transform: scale(1.1);
}

.properties-add {
    width: 90%;
    opacity: 0.3;
    background-color: var(--tertiary-color);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.properties-add input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.properties-add svg {
    transition: all 0.3s ease;
    scale: 0.1;
    fill: var(--secondary-color);
    transform: rotate(0deg);
}

.properties-add:hover {
    filter: drop-shadow(0px 3px 5px var(--secondary-color));
}

.properties-add:hover svg {
    /* transform: rotate(90deg); */
    fill: var(--secondary-background-color);
}

.template {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--forth-color);
    border-radius: 15px;
    gap: 10px;
    padding: 30px;
    text-decoration: none;
    font-family: var(--primary-font);
    transition: all 0.3s linear;
    cursor: pointer;
}

.template:hover {
    background-color: var(--tertiary-background-color);
    transform: translateY(-1px);
    filter: drop-shadow(1px 2px 4px var(--tertiary-color));
}

.template h2 {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 900;
    width: 65%;
    overflow: hidden;
}

.template p {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    width: 25%;
    overflow: hidden;
    text-decoration: none;
}

.green {
    color: var(--green);
    /* filter: drop-shadow(0px 2px 15px var(--green)); */
}

.red {
    color: var(--red);
    /* filter: drop-shadow(0px 2px 15px var(--red)); */
}

.template-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--forth-color);
    border-radius: 15px;
    text-decoration: none;
    font-family: var(--primary-font);
    transition: all 0.3s linear;
    cursor: pointer;
    height: 80px;
}

.template-add:hover {
    background-color: var(--tertiary-background-color);
    transform: translateY(-1px);
}

.template-add svg {
    scale: 0.04;
    opacity: 0.3;
}

.change-template-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #2c2c2cef;
    text-decoration: none;
    font-family: var(--primary-font);
    transition: all 0.3s linear;
    z-index: 11;
}

.change-template-name input {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    background-color: var(--forth-color);
    color: var(--secondary-color);
}

.change-template-name input:focus,
.change-template-name input:active {
    outline: none;
}

.change-template-name button {
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: var(--primary-font);
    background-color: var(--forth-color);
    color: var(--secondary-color);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.change-template-name button:hover {
    background-color: var(--tertiary-background-color);
    transform: translateY(-1px);
    filter: drop-shadow(1px 2px 4px var(--tertiary-color));
}

@media screen and (max-width: 868px) {
    .properties {
        margin: 20px 0px;
    }

    .template {
        flex-direction: column;
        padding: 20px;
    }

    .template h2 {
        width: 100%;
    }

    .template p {
        width: 100%;
    }

    .template-add {
        height: 60px;
    }

    .template-add svg {
        scale: 0.1;
    }

    .change-template-name input {
        width: 80%;
    }

    .change-template-name button {
        padding: 10px 30px;
    }
}