@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: #FF8A00;
  --secondary-color: #3C3C3C;
  --tertiary-color: #A0A0A0;
  --forth-color: #E6E6E6;
  --primary-background-color: #F9FBFD;
  --secondary-background-color: #242424;
  --tertiary-background-color: #f1f1f1;
  --red: #e20404;
  --green: #0fc70f;
  --white: #ffffff;
  --black: #000000;

  --primary-font: 'IBM Plex Sans', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

*::selection {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}